.wa-logo {
    text-decoration: underline;
    font-family: "Times New Roman";
    font-size: 3.5rem;
    color: blue;
  }
  
  .wa-logo:hover {
    text-decoration: none;
    color: blue;
  }
  .btn-primary {
    background-color: blue;
    border-color: blue;
  }
  .btn-primary:hover {
    background-color: hsl(from blue h calc(s - 15) calc(l - 20))
  }
  .wa-text {
    font-family: "Times New Roman";
    font-size: 1.2rem;
  }
  .wa-hr {
    border-top: 2px solid black;
  }
  .italic {
    font-style: italic;
  }
  .wa-big {
    font-size: 3rem;
    font-weight: 600;
  }
  a {
    color: blue;
  }