{% extends "base.html" %}
{% block title %}{{ _('Pywb Error') }}{% endblock %}
{% block header %}{% endblock %}
{% block body %}
{% if err_status == 451 %}
<div class="container wa-blue-background">
{% else %}
<div class="container text-danger error">
{% endif %}
    <div class="row justify-content-center">
    {% if err_status == 451 %}
        <h2 class="wa-big wa-white">Tuto stránku nemůžeme zobrazit</h2>
    {% else %}
        <h2 class="display-4">Něco se nepovedlo - Pywb error</h2>
    {% endif %}
    </div>
    <div class="row">
        <div class="col-12 text-center">
        {% if err_status == 451 %}
            <p class="wa-text wa-white">
                Z důvodu autorského zákona nemůžeme tuto stránku zpřístupnit online.
                Archivované verze této stránky jsou dostupné pouze z Referenčního centra NK ČR.
                Pro více informací o zpřístupnění navštivte naše často kladené dotazy.
            </p>

        {% elif err_status == 404 and err_details == 'coll_not_found' %}
            <p>404 - Kolekce nenalezena: <b>{{ err_msg }}</b></p>

            <p><a href="/{{ env.pywb_lang | default('') }}">Přejít na seznam dostupných kolekcí</a></p>

        {% elif err_status == 404 and err_details == 'static_file_not_found' %}
            <p>404 - Soubor nenalezen: <b>{{ err_msg }}</b></p>

        {% else %}

            <p class="lead">{{ err_msg }}</p>

            {% if err_details %}
                <p class="lead">{% trans %}Error Details:{% endtrans %}</p>
                <pre>{{ err_details }}</pre>
            {% endif %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
