<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="row ml-5">
                <a href="https://www.webarchiv.cz/" class="wa-logo">Webarchiv</a>
            </div>
            <div class="row ml-5">
                <p class="italic wa-text">památník českého internetu, <a href="https://www.webarchiv.cz/cs/jsme-webarchiv">více</a></p>
            </div>
        </div>
        <div class="col mr-5">
            <div class="row justify-content-end">
                <a href="https://nkp.cz">
                    <img src="{{ static_prefix }}/logo_NK.svg" alt="Národní Knihovna">
                </a>
            </div>
        </div>
    </div>
</div>