{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <h4>Hlavní kolekce:</h4>
    </div>
    <div class="row">
        <ul class="list-group">
            {% set special_collection_routes = ['wayback', 'live'] %}
            {% for route in special_collection_routes %}
                <li class="list-group-item">
                    <a href="{{ env['pywb.app_prefix'] + ('/' + env.pywb_lang if env.pywb_lang else '') + '/' + route }}">{{ '/' + route }}</a>
                </li>
            {%  endfor %}
        </ul>
    </div>
    <div class="row">
        <h4>Ostatní kolekce:</h4>
    </div>
    <div class="row d-flex flex-wrap">
        {% for year in range(5, 25) | reverse %}
        {% set year_str = "{:02d}".format(year) %}
        <div class="list-group">
            {% for route in routes | sort %}
                {% if route not in special_collection_routes and year_str in route %}
                    <a
                    class="list-group-item list-group-item-action"
                    href="{{ env['pywb.app_prefix'] + ('/' + env.pywb_lang if env.pywb_lang else '') + '/' + route }}">{{ '/' + route }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}