{% extends "base.html" %}
{% block body %}
{% set special_collection_routes = ['wayback', 'live'] %}
<div class="container">
    <div class="row">
        <h2 class="display-2">{{ _('Pywb Wayback Machine') }}</h2>
        <h3>Hello world. If you see this message, that means it worked! Try 2</h3>
    </div>
    <div class="row">
        <h4>Special collections:</h4>
        <br>
        <ul>
            {% for route in special_collection_routes %}
                <li>
                    <a href="{{ env['pywb.app_prefix'] + ('/' + env.pywb_lang if env.pywb_lang else '') + '/' + route }}">{{ '/' + route }}</a>
                </li>
            {%  endfor %}
        </ul>
    </div>
    <div class="row">
        <h4>{{ _('This archive contains the following collections:') }}</h4>
        <br>
        <ul>
            {% for route in routes | sort %}
                {% if route not in special_collection_routes %}
                <li>
                    <a href="{{ env['pywb.app_prefix'] + ('/' + env.pywb_lang if env.pywb_lang else '') + '/' + route }}">{{ '/' + route }}</a>
                    {% if all_metadata and all_metadata[route] and all_metadata[route].title %}
                        ({{ all_metadata[route].title }})
                    {% endif %}
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}