{% extends "base.html" %}

{% block title %}
Webarchiv - {{ coll }}
{% endblock %}

{% block head %}
{{ super() }}
<script>
  var filterMods = {
    '=': "Obsahuje",
    '==': "Přesně se schoduje",
    '=~': "Odpovídá regulérnímu výrazu (regex)",
    '=!': "Neobsahuje",
    '=!=': "Neschoduje se",
    '=!~': "Nezačíná"
  };
  var noFilter = "Žádný filtr nezadán";

  // TODO: cleanup
  window.wb_prefix = "{{ wb_prefix }}";
</script>
<script src="{{ static_prefix }}/search.js"></script>
{% endblock %}

{% block body %}
<div class="container mt-4">
    <form class="needs-validation" id="search-form" novalidate>
        <div class="form-row">
            <div class="col-12">
                <label for="search-url" class="lead" aria-label="Vyhledávání">
                    {% set coll_title = metadata.title if metadata and metadata.title else coll %}
                    {% autoescape false %}
                    {% if coll_title == "wayback" %}
                    Zadejte URL adresu kterou chcete vyhledat ve Webarchivu
                    {% else %}
                    Vyhledat v kolekci: {{ coll_title }}
                    {% endif %}
                    {% endautoescape %}
                </label>
                <a tabindex="0" class="btn btn-sm float-right btn-light" role="button" data-toggle="modal" data-target="#searchInstructions">{{ _('Help') }}</a>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <input aria-label="{{ _('URL') }}" aria-required="true" class="form-control form-control-lg" id="search-url"
                       name="search" placeholder="Zadejte URL kterou chcete vyhledat"
                       title="Zadejte URL kterou chcete vyhledat" type="search" required autofocus />
                <div class="invalid-feedback">
                    Prosím zadejte URL adresu
                </div>
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="col-5">
                <div class="custom-control custom-checkbox custom-control">
                    <input type="checkbox" class="custom-control-input" id="open-results-new-window">
                    <label class="custom-control-label" for="open-results-new-window">Otevřít výsledek v novém okně</label>
                </div>
            </div>
            <div class="col-7">
                <button type="submit" id="search-button" class="btn btn-primary float-right" role="button" aria-label="Hledat">
                    Hledat
                </button>
                <button class="btn btn-outline-secondary float-right mr-3" type="button" role="button"
                        data-toggle="collapse" data-target="#advancedOptions" id="advanced-options"
                        aria-expanded="false" aria-controls="advancedOptions" aria-label="Nastavení vyhledávání">
                    Nastavení vyhledávání
                </button>
                <button id="reset-search-form" class="btn btn-outline-danger float-right mr-3" type="button" role="button" aria-label="Reset nastavení">
                    {{ _('Reset') }}
                </button>
            </div>
        </div>
        <div class="collapse mt-3" id="advancedOptions">
            <div class="form-group form-row">
                <label for="match-type-select" class="col-sm-2 col-form-label" aria-label="Druh vyhledávání">
                    Druh vyhledávání:
                </label>
                <select id="match-type-select" class="form-control form-control col-sm-6">
                    <option value="">Výchozí</option>
                    <option value="prefix">Předpona</option>
                    <option value="host">Host</option>
                    <option value="domain">Doména</option>
                </select>
            </div>
            <p style="cursor: help;">
               <span data-toggle="tooltip" data-placement="right"
                     title="Omezí výsledky pouze na ty které byly sklizeny v daném časovém rozsahu">
                   Zobrazit pouze kopie
                </span>
            </p>
            <div class="form-row">
                <div class="col-6">
                    <label class="sr-only" for="dt-from" aria-label="Časový rozsah Od">Od:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Od:</div>
                        </div>
                        <input id="dt-from" type="date" placeholder="rrrr-mm-dd" name="date-range-from" class="form-control">
                        <input id="ts-from" type="time" placeholder="hh:mm:ss" name="date-range-from-ts" class="form-control">
                    </div>
                </div>
                <div class="col-6">
                    <label class="sr-only" for="dt-to" aria-label="Časový rozsah Do">Do:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Do:</div>
                        </div>
                        <input id="dt-to" type="date" placeholder="rrrr-mm-dd" name="date-range-to" class="form-control">
                        <input id="ts-to" type="time" placeholder="hh:mm:ss" name="date-range-to-ts" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group mt-3">
                <div class="form-row">
                    <div class="col-12">
                        <p>Filtrování</p>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="row pb-1">
                            <label for="filter-by" class="col-form-label col-3">Filtrovat pomocí:</label>
                            <select id="filter-by" class="form-control col-7">
                                <option value="mime">Mime Type</option>
                                <option value="status">HTTP Status</option>
                                <option value="url">URL Adresa</option>
                            </select>
                        </div>
                        <div class="row pb-1">
                            <label for="filter-modifier" class="col-form-label col-3">Jak:</label>
                            <select id="filter-modifier" class="form-control col-7">
                                <option value="=">Obsahuje</option>
                                <option value="==">Přesně se schoduje</option>
                                <option value="=~">Odpovídá regulérnímu výrazu (regex)</option>
                                <option value="=!">Neobsahuje</option>
                                <option value="=!=">Neschoduje se</option>
                                <option value="=!~">Nezačíná</option>
                            </select>
                        </div>
                        <div class="row pb-1">
                            <label for="filter-expression" class="col-form-label col-3">Výraz:</label>
                            <input type="text" id="filter-expression" class="form-control col-7"
                                   placeholder="Zadejte výraz kterým si přejete filtrovat"
                            >
                        </div>
                            <button id="add-filter" class="btn btn-outline-secondary mt-2" type="button">
                                Přidat filter
                            </button>

                    </div>
                    <div class="col-6">
                        <ul id="filter-list" class="filter-list">
                            <li id="filtering-nothing">Žádný filtr nezadán</li>
                        </ul>
                        <button id="clear-filters" class="btn btn-outline-danger float-right mr-2" type="button">
                            Odebrat filtry
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% if metadata %}
    <div class="container mt-4 justify-content-center">
        <p class="lead">{{ _('Collection Metadata') }}</p>
        <div class="row">
            <div class="col-4 pr-1">
                <div class="list-group" id="collection-metadata" role="tablist">
                    {% for key in metadata.keys() %}
                        <a class="list-group-item list-group-item-action text-uppercase {% if loop.index0 == 0 %}active{% endif %}"
                           data-toggle="list" href="#collection-metadata-{{ key }}" role="tab">
                            {{ key }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-8 pl-1">
                <div class="tab-content h-100">
                    {% for key, val in metadata.items() %}
                        <div class="tab-pane inherit-height {% if loop.index0 == 0 %}active{% endif %}"
                             id="collection-metadata-{{ key }}" role="tabpanel">
                            <div class="card inherit-height">
                                <div class="card-body">
                                    {{ val | safe }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
<div class="container mt-5">
    <div class="row">
        <h4 class="">Vítejte v nové zobrazovací aplikaci Pywayback</h4>
        <p class="wa-text">V tuto chvíli stále pracujeme na kompletním zprovoznění, omluvte proto nedostupnost některých dat.</p>
    </div>
</div>
{% include "instructions.html" %}
{% endblock %}