version: '3.0'

services:
  pywb:
    image: webrecorder/pywb:{{ pywb_tag }}
    volumes: 
      # PyWB configuration
      - "{{ pywb_dir }}/config.yaml:/webarchive/config.yaml"
      # PyWb Collections with indexes, achive links and configurations
      - type: bind
        source: /mnt/index/collections
        target: /webarchive/collections
      # Standard Archive Storage
      - type: bind
        source: /mnt/archive
        target: /mnt/archive
        read_only: true
      # Fragmented Archive Storage
      - type: bind
        source: /mnt/datas
        target: /mnt/datas
        read_only: true
      # Fragmented Archive Storage
      - type: bind
        source: /mnt/handsbery
        target: /mnt/handsbery
        read_only: true
      # Custom logo
      - "{{ pywb_dir }}/logo.png:/pywb/pywb/static/webarchiv-logo.png"
    labels:
      - {{ pywb_traefik_configuration }}
    networks:
      - traefik
  {# whoami:
    # A container that exposes an API to show its IP address  
    image: traefik/whoami
    labels:
      - "traefik.http.routers.whoami.rule=Host(`whoami.docker.localhost`) || Host(`10.3.0.21`)" #}

networks:
  traefik:
    name: traefik_default
    external: true